<div id="nav-toggle">
	<div>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>
<aside id="sidebar" class="scroll">
	<nav id="global-nav">
		<ul>
		<li><a href="#"><% if user_signed_in? %>
		<%= current_user.name =%>
		<%end%></a></li>
			<li><%= link_to 'マニュアル一覧', manuals_path %></li>
			<li class="sub-menu">
      <%= link_to 'カテゴリー', categories_path %>
				<ul class="sub-menu-nav">
					<li><a href="#">About 1</a></li>
					<li><a href="#">About 2</a></li>
				</ul>
			</li>
			<li class="sub-menu">
				<a href="#" class="sub-menu-head">Products</a>
				<ul class="sub-menu-nav">
					<li><a href="#">Product 1</a></li>
					<li><a href="#">Product 2</a></li>
				</ul>
			</li>
			<li class="sub-menu">
			<%= link_to '管理者パネル', admin_root_path %>
			</li>
			<li><%= button_to "ログアウト", destroy_user_session_path, class: "sub-menu-change", method: :delete %></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
</aside>