<div id="nav-toggle">
	<div>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>
<aside id="sidebar" class="scroll">
	<nav id="global-nav">
		<ul>
		<li><a href="#"><% if user_signed_in? %>
		<%= current_user.name =%>
		<%end%></a>
		</li>
			<li class="sub-menu">
      <%= link_to 'HOME', categories_path %>
			</li>
			<li><%= link_to '検索', manuals_path %></li>
			<li><%= link_to 'ブックマーク一覧', bookmarks_manuals_path %></li>
			<% if current_user.admin? %>
			<li class="sub-menu">
			<%= link_to '管理者パネル', admin_root_path %>
			</li>
			<% end %>
			<li><%= button_to "ログアウト", destroy_user_session_path, class: "sub-menu-change", method: :delete %></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
</aside>