<tr>
  <td>
    <%= manual.id %>
  </td>
  <td>
    <%= manual.title %>
  </td>
  <td>
    <%= manual.user.name %>
  </td>
  <td>
    <%= manual.created_at %>
  </td>
  <td>
    <%= link_to t('defaults.show'), admin_manual_path(manual), class: 'btn btn-info' %>
    <%= link_to t('defaults.edit'), edit_admin_manual_path(manual), class: 'btn btn-success' %>
    <%= button_to "削除", admin_manual_path(manual), method: :delete, class: "btn btn-danger" %>
  </td>
</tr>
