
<% content_for(:title, t('.title')) %>
<% breadcrumb :manual_path, @manual %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
        <%= link_to @manual.category.name, categories_path, class:"h5 mb-3"%>
        <ul class="fusen">
          <li><%= @manual.title %></li>
        </ul>
        <% if @manual.sentences.empty? %>
          <p>coming soon</p>
        <% else %>
          <% @sentences.each_with_index do |sentence, i| %>
            <div class="sentence_wrapper">
            <dl>
              <dt><%= "#{(i + 1)}"%></dt>
              <dd class="fw-bold"><%= sentence.subtitle %></dd>
            </dl>
            <div class="sentence_box">
            <dl>
              <dt></dt>
              <dd>
              <p><%= safe_join(sentence.content.split("\n"),tag(:br)) %></p>
                <% if !sentence.sentence_image.file.nil? %>
                  <%= image_tag sentence.sentence_image.url ,class: "img-responsive"%>
                <% end %>
              </dd>
            </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
