
<% content_for(:title, t('.title')) %>
<div class="container">
    <div class="section-block-grey">
    <div class="row mt-60">
        <%= link_to '< 戻る', category_manuals_path(@manual), class:"h5 mb-5"%>
        <div class="col-md-12">
            <div class="serv-section-4">
                <div class="row">
                  <h1 class="col-11 fusen"><%= @manual.title%></h1>
                  <div class="col-1">
                    <%= render 'bookmark_button', manual: @manual  %>
                  </div>
                </div>
                    <% if @manual.sentences.empty? %>
                      <p>coming soon</p>
                    <% else %>
                      <% @sentences.each_with_index do |sentence, i| %>
                        <div class="sentence_wrapper">
                          <dl>
                            <dt><%= "#{(i + 1)}"%></dt>
                            <dd class="fw-bold"><%= sentence.subtitle %></dd>
                          </dl>
                          <div class="sentence_box">
                            <dl>
                              <dt></dt>
                              <dd>
                              <p><%= safe_join(sentence.content.split("\n"),tag(:br)) %></p>
                                <% if !sentence.sentence_image.file.nil? %>
                                  <%= image_tag sentence.sentence_image.url ,class: "img-responsive"%>
                                <% end %>
                              </dd>
                            </dl>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
<%= render 'comment'%>