<head>
  <meta charset="UTF-8">
  <meta lang='ja'>
  <meta name="robots" content="noindex, nofollow">
  <title><%= page_title(yield(:title), admin: true) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'admin', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<% if current_user.admin_ok? %>
<div class="wrapper">

  <%= render 'admin/shared/header' %>
  <%= render 'admin/shared/sidebar' %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><%= yield :'content-header' %></h1>
                <%= breadcrumbs separator: " &rsaquo; " ,style: :ol, class: 'breadcrumb'%>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    <!-- /.content-wrapper -->
  </div>
  <%= render 'admin/shared/footer' %>
  <%= javascript_include_tag 'admin' %>
  <% end %>
</div>
</body>
</html>