<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <%= image_tag 'AdminLTELogo.png', class: 'brand-image img-circle elevation-3' %>
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        
      </div>
      <div class="info">
        <% if user_signed_in? %>
        <%= current_user.name =%>
        <%end%>
        </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item has-treeview">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-book"></i>
        <p>
         マニュアル
          <i class="fas fa-angle-left right"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
      <li class="nav-item">
      <%= link_to admin_manuals_path, class: "nav-link" do %>
            <i class="far fa-circle nav-icon"></i>
            <p>一覧</p>
            <% end %>
        </li>
        <li class="nav-item">
        <%= link_to new_admin_manual_path, class: "nav-link" do %>
          <i class="far fa-circle nav-icon"></i>
          <p>新規作成</p>
        <% end %>
        </li>
        <li class="nav-item">
        <%= link_to admin_categories_path, class: "nav-link" do %>
            <i class="far fa-circle nav-icon"></i>
            <p>カテゴリー</p>
          <% end %>
        </li>
      </ul>
    </li>
    <li class="nav-item has-treeview">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-book"></i>
        <p>
         e-lerning
          <i class="fas fa-angle-left right"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
      <li class="nav-item">
      <%= link_to admin_quizzes_path, class: "nav-link" do %>
            <i class="far fa-circle nav-icon"></i>
            <p>クイズ一覧</p>
            <% end %>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
        <%= link_to new_admin_quiz_path, class: "nav-link" do %>
            <i class="far fa-circle nav-icon"></i>
            <p>クイズ作成</p>
          <% end %>
        </li>
      </ul>
    </li>
        <li class="nav-item">
        <%= link_to admin_users_path ,class: "nav-link" do %>
            <i class="nav-icon far fa-user"></i>
            <p>
              ユーザ一管理
            </p>
          <% end %>
        </li>
        <li class="nav-item">
        <%= link_to root_path ,class: "nav-link" do %>
            <i class="nav-icon far fa-user"></i>
            <p>
              管理パネル終了
            </p>
          <% end %>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
